<body class="landing-page">

<div class="wrapper">
  <div class="header header-filter" style="background-image: url('https://static3.bigstockphoto.com/2/0/3/large1500/302421448.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1 class="title">T’S AUTO SPARE PARTS</h1>
          <h4>A spare parts collection with hundreds of rare components suitable for any vehicle type, brand and in any condition with an
            amazing search engine for browse spare parts easily. </h4>
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center section-landing">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">What is T’s auto spare parts</h2>
            <h5 class="description">Explore our online store</h5>
          </div>
        </div>

        <div class="features">
          <div class="row">
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">library_books</i>
                </div>
                <a [routerLink] = "['/search']"><h4 class="info-title">Online spare parts Library</h4></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">search</i>
                </div>
                <a [routerLink] = "['/search']"><h4 class="info-title">Customizable spare parts search</h4></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
</body>
